.hero {
  background-image: url('../images/high-court.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
  
  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(35, 31, 32, 0.5); /* translucent dark overlay */
    z-index: 1;
  }
  
  .hero .container {
    position: relative;
    z-index: 2;
  }
  
  .hero h2:after{
    background: var(--support-color);
    bottom: 6px;
    position: absolute;
    content: '';
    width: 52px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
   color: var(--primary-color)
}

.about-content h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  position: relative;
}


