.hero {
  background-image: url('../images/about.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

  
  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(35, 31, 32, 0.5); /* translucent dark overlay */
    z-index: 1;
  }
  
  .hero .container {
    position: relative;
    z-index: 2;
  }
  
  .hero h2:after{
    background: var(--support-color);
    bottom: 6px;
    position: absolute;
    content: '';
    width: 52px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
  
 .form-control{
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
  padding: 12px 16px;
  border-radius: 0;
 }

  .form-control:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: none;
  }

   .contact-info{
    position: relative;
   }
  .contact-info::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--support-color);
    top:-5%;
    left:-4%;
  }

  .form-left p {
    font-size: 18px;
  }



  @media (max-width: 768px) {
  .hero {
    background-attachment: scroll;
  }
}